[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycapnp = {editable = true,path = "."}

[packages]
jinja2 = "*"
cython = "*"
pytest = "*"
tox = "*"

[requires]
python_version = "3.7"
